@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: white; 
  background: linear-gradient(to bottom, #0f0f0f, #1a1a2e, #121212); /* Smooth dark gradient */
  position: relative;
}

.movie-details {
  cursor: pointer;
  transition: all 0.5s ease;
  background: none;
  position: relative;
  overflow: hidden;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}
.nav-icons {
  font-size: 25px;
}
.rating-dice {
  font-size: 40px;
  color: goldenrod;
}
.rating-dice i {
  cursor: pointer;
  padding:3px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.rating-dice i:hover {
  transform: scale(1.15);
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.favorite-movie {
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0;
}
.type-select-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
}
.new-search-btn {
  width: 40vw;
  max-width: 150px;
  padding: 8px;
}
.movie-details .hover-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.movie-details:hover .hover-info {
  opacity: 1;
  visibility: visible;
}
.profile-scrollbar {
  max-height: 30vh;
  overflow-y: auto;
  scrollbar-color: #ff416c #1a1a2e;
  scrollbar-base-color: transparent;
  scrollbar-width: thin;
}
.search-scrollContainer {
  max-height: 63vh;
  overflow-y: auto;
  scrollbar-color: #ff416c #1a1a2e;
  scrollbar-base-color: transparent;
  scrollbar-width: thin;
}
.home-scrollContainer {
  max-height: 85vh;
  overflow-y: auto;
  scrollbar-color: #ff416c #1a1a2e;
  scrollbar-base-color: transparent;
  scrollbar-width: thin;
}
.details-scrollContainer {
  max-height: 75vh;
  overflow-y: auto;
  scrollbar-color: #ff416c #1a1a2e;
  scrollbar-base-color: transparent;
  scrollbar-width: thin;
}
.profile-user-name {
  position: absolute;
  top: 60px;
  left: 40px;
  
}