@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
body {
  min-height: 100vh;
  background: url("/public/img/movieapp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
:root {
  --bs-primary: rgba(64, 63, 63, 0.78);
  --bs-secondary: #5882a8;
}
.navbar {
  background-color: var(--bs-primary);
  color: white;
}
.details-button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .details-button {
  opacity: 1;
}
